<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if request.user.is_authenticated %}
    <title>{{request.user.username|title}}'s Tasks</title>
    {% else %}
    <title>Manage Tasks with ToDO</title>
    {% endif %}
    
    <link rel='stylesheet' type='text/css' media= 'screen' href="{% static 'styles/main.css' %}">



    
</head>

<body>
    {% comment %} {% include 'navBar.html'%} {% endcomment %}
<div class="container">
    {% block content %}

    {% endblock %}
</div>    
 
    
</body>
</html>