{% comment %} <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav> {% endcomment %}




  <nav id = "nav"> 
    {% if request.user.is_authenticated %}

      <div class = "navBar__Left" id  = "Logout">
        <form action="{% url 'UserLogout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
      </div>
      <div class = "navBar__right">
        <a href = "">@{{user.username}}</a>
      </div>
    {% else %}
      <div class = "navBar__left" id = "Login">
       
      <ul class = "nav-list">
      <li> <a href = "{% url 'UserLogin' %}" > Login </a></li> 
      {% comment %} <li>  <p> You are Logged Out! </p> </li> {% endcomment %}
    {% endif %}
      </ul>
    
      </div>
  </nav>
