body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  background-color:  #f3f2f1;
}
/* h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
  color:  rgb(128, 35, 35);
} */