
body {
  /* font-family: "Montserrat", sans-serif; */
  font-optical-sizing: auto;
  font-size: 24px;
  
  font-family: "Playfair Display", serif;

 background-color:  rgb(239, 236, 233);
  
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background:rgb(33 23 48);
  background: rgb(62 54 76);
  /* font-family: "Libre Bodoni", serif; */
  /* background: rgb(27 17 41); */
  background-image: url(https://res.cloudinary.com/imagist/image/fetch/q_auto,f_auto,c_scale,w_2240/https%3A%2F%2Ftodoist.com%2Fstatic%2Fhome-teams%2Fintro%2Fbackground.png);
} 
 h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
 /* font-family: "Montserrat"; */
  font-optical-sizing: auto;
  font-style: normal;
  /* font-size: large; */
  /* color: rgba(158, 120, 207, 1); */
  /* font-family: "Libre Bodoni", serif; */
  /* color: #adb0a9; */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.navBar .nav-right .search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.navBar .nav-right .search-bar {
  position: relative;
  display: flex;
  align-items: center;
  transition: width 0.3s ease;
  width: 0;
}
.navBar .nav-right .search-input {
  width: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.navBar .nav-right .search-button {
  padding: 20px 20px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;

}
 .search-bar.expanded {
  width: 200px;
}
 .search-bar.expanded .search-input {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
 .search-bar.expanded .close-icon {
  visibility: visible;
  opacity: 1;
}




.HeaderBar{
  text-align: center;
  text-decoration: none;
  /* background-color: #bbbebe; */
  background-color: #074242;
  background-color: #acc1c1;
}
.taskHeader {
  display: flex;
  justify-content: center;
}

.taskHeader a{
  text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;

}
.checkerHeader{
  display: flex;
  /* justify-content: center; */
}
.checkerHeader a{
  
  text-decoration: line-through;
    color: #a39d9d;
    font-size: 24px;
    font-weight: bold;

  

}


.MainPage{
  max-width: 1104px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 4px 4px 13px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 13px -4px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  min-height: 100px;
  background: rgb(62 54 76);
  width: 1021px;
  border-radius: 10px;
  /* background: rgb(27 17 41); */
  background: whitesmoke;
}

a{
  color: #000000; /* Set text color for profile link */
  text-decoration: none; /* Remove underline */
  font-size: 14px;

}
a:hover{
   text-decoration: underline;
   
}




p{
  color: #000000; /* Set text color for profile link */
  text-decoration: none; /* Remove underline */
  font-size: 14px;
}
.room__topRight{
  padding-top: 11px;
  padding-right: 375px;
  margin: auto;
  display: flex;
}
/* .buttonsCRUD > .room__topRight{
  padding-top: 11px;
  padding-right: 375px;
  margin: auto;
  display: flex;
} */
  /* #tasklist {
   display: inline-block; 
   max-width: 550px;
   margin: auto;
   justify-content: center; 
   align-items: center;
   height: 100vh; 
   background-color:rgb(68, 137, 179);
  -webkit-box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 10px -4px;
} */



/* .search-add-wrapper form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
 
} */


.add-task-wrapper{
display: flex;

align-items: center;
justify-content: center;

}
.add-task-wrapper a{
    font-size: 75px;
    /* padding-top: -14px;
    padding-left: 158px; */

    text-decoration: none;

}
.add-Task-Button{
  background: #bbbebe;
  border-radius: 54px;
  width: 50px;
  max-width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
.add-task-wrapper h3{
 
  font-size: 40px;
}
/*!************************* Search bar settings**********************/
.search-container {
  position: relative;
    display: flex;
    align-items: center;
    /* width: 500px; */
    /* background-color: #f1f1f1; */
    border-radius: 25px;
    overflow: hidden;
    justify-content: center;
    /* place-content: center; */
    margin-left: 65px;
    text-align: center;
    margin: auto;
  
}

.search-field {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: #000000;
  border-radius: 25px 0 0 25px; /* Rounded left corner */
  transition: all 0.3s ease-in-out;
  align-items: center;
}

.search-field:focus {
  background-color: #fff;
  border: 1px solid #ccc;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  border-radius: 0 25px 25px 0; /* Rounded right corner */
  transition: all 0.3s ease-in-out;
}

.search-btn:hover {
  background-color: #000000;
}

.fas.fa-search {
  transition: all 0.3s ease-in-out;
}

.search-field:focus + .search-btn .fas.fa-search {
  color: #000000;
}



/*********************REGISTER/LOGIN PAGE********************/

.Register { 
font-size: 16px;
}
.Register > .loginForm, .registerForm{
  display: flex;
  margin: auto;
  padding: 6px;
  /* justify-content: center;
  align-items: center; */
}
.Register > .loginForm, .registerForm input{

margin: auto;
display: flex;
max-width: 100%;
width: 200px;
/* align-items: center; */
/* text-align: center; */
justify-content: center;
}
.Register a{

  font-size: 18px;
}








/*********************NAVBAR SETTINGS ********************/

#nav {
  /* background-color: #ffffff;  */
  background: transparent;
  color: #0e0000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  width: 684px;
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
  position: sticky;
}
  


#Logout,
#Login {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
}


.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0px;
  flex-direction: row;
  list-style: none;

}




#Logout button {
  background: none;
  border: none;
  /* color: #d6d6d6; */
  color: black;
  cursor: pointer;
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
#Logout button:hover{
  color: whitesmoke;
}
#Login a {
  color: #000000; /* Set text color for login link */
  text-decoration: none; /* Remove underline */
  margin-right: 20px; /* Add spacing between login link and "You are Logged Out!" */

}

#Login p {
  margin: 0; /* Remove default margin */
}
/* .navBar__right {
  margin-left: 483px;
} */

.navBar__right a {
  /* color: #000000; */
  text-decoration: none;
  font-size: 22px;
  /* padding-left: 518px; */
  /* color: #d6d6d6; */
  color: black;
  font-family: "Montserrat";
}
.navBar__right a:hover{
  color: whitesmoke;

}


.task-items-wrapper{
justify-content: center;
font-size: 15px;

}






.task-title {
  display: flex;
  padding: 20px;
}

.task-title a {
  text-decoration: none;
  color: #4b5156;
  margin-left: 10px;
}

.task-complete-icon {
  height: 20px;
  width: 20px;
  background-color: rgb(105, 192, 105);
  border-radius: 50%;
}

.task-incomplete-icon {
  height: 20px;
  width: 20px;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
}