{% include 'main.html' %}

{% block content %}

    <div class = "navBar"> 
            {% if request.user.is_authenticated %}

    
                <form action="{% url 'UserLogout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
    
                <a href = "">Profile</a>
            {% else %}
                <a href = "{% url 'UserLogin' %}" > Login </a>
                <p> You are Logged Out! </p>
            {% endif %}
            
    </div>
    <div class = "HeaderBar">
    {% if request.user.is_authenticated %}
        
        {% if request.user.username == 'lalo'%}
        <h1><i>Mr. Lalo Salamanca</i> is Here babyyyy!!</h1>
        <h2> You have {{count}} incomplete Task{{count|pluralize:"s"}}</h2>
        {% else%}
        <h2> Welcome Mr. {{ request.user|title}} !</h2>
        <h3> You have {{count}} incomplete Task{{count|pluralize:"s"}}</h3>
        {% endif%}
        <hr>
    {% endif%}
      

    </div>

<h2>Your Tasks</h2>



{% comment %} <div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search your tasks" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if tasks|length > 0 %}
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
    {% endif %}
</div> {% endcomment %}




<form method = 'GET' action = "">
    {% csrf_token %}
    <input type = 'text' name = 'TextIamSearching' placeholder = 'Search for Tasks' value = "{{ search_input }}">
    <button type = "submit" class = "button" value = "Searchhh">
</form>

<a href = "{% url 'create-task' %}" >Create New ToDo</a>
<hr>
{% if tasks is None %}
           <h3>No items to see.....</h3>
{% else%}
    {% for task in tasks %}
    
      
    
           <div> 
           <h3><SMALL><a href = "{% url 'edit-task' task.id %}" >edit</a>
                      <a href = "{% url 'delete-task' task.id %}" >Delete</a>
               </SMALL>
            </h3>
           
            <h3>

               <a href = "{% url 'task' task.id%}" >   {{ task.title}}</a> 
               <sub><strong>DueDate: </strong>{{ task.dueDate}} </sub>
               <h3>Complete : <SMALL> {{task.complete}}</SMALL> </h3>
           </h3>
        {% if task.description == '' %}
               <span> No Description</span>
        {% else%}
            <span>  {{ task.description}} </span>
     
        {% endif%}
            <hr>
           </div>
    {% endfor %}
{% endif%}
    
{% endblock content%}