<div class = "navBar"> 
    {% if request.user.is_authenticated %}
        <h2> Welcome Mr. {{ request.user}} !</h2>
        <a href = "{% url 'UserLogout'%}" >Logout</a>
        <a href = "" >Profile</a>
    {% else %}
        <a href = "{% url 'UserLogin' %}" > Login </a>
        <p> You are Logged Out! </p>
        {% comment %} <a href = "{% url 'register' %}" >Register</a> {% endcomment %}
    {% endif %}
</div>

<h2>Your Tasks           </h2>
<a href = "{% url 'create-task' %}" >Create New ToDo</a>
<hr>
{% if tasks is None %}
           <h3>No items to see.....</h3>
{% else%}
    {% for task in tasks %}
    
      
    
           <div> 
           <h3><SMALL><a href = "{% url 'edit-task' task.id %}" >edit</a></SMALL>
           <h3><SMALL><a href = "{% url 'delete-task' task.id %}" >Delete</a></SMALL>

               <a href = "{% url 'task' task.id%}" >   {{ task.title}}</a> 
               <sub>{{ task.dueDate}} </sub>
           </h3>
        {% if task.description == '' %}
               <span> No Description</span>
        {% else%}
            <span>  {{ task.description}} </span>
     
        {% endif%}
            <hr>
           </div>
    {% endfor %}
{% endif%}
    