{% include 'main.html' %}
{% block content%}
{% if page == 'register'%}

<h1>  Let's Register  </h1>
<div>
    <form method = "POST" action ="">
        {% csrf_token %}
        {{form.as_p}} 
        <input type ="submit" name = "Login">
        
    </form>   
</div>
<div class="Register">Already Have an Account?. <a href ="{% url 'UserLogin' %}" >Login  </a></div>



 

{% else%}
<h1>  Hey! Let's Login  </h1>
<div>
    <form method = "POST" action ="">
        {% csrf_token %}
        {{form.as_p}} 
        <input type ="submit" name = "Login">
        
    </form>   
</div>
<div class="Register">Don't Have an Account?. <a href ="{% url 'RegisterUser' %}" >Register  </a></div>



{% endif %}

{% endblock content%}