{% include 'main.html' %}
{% block content%}
<div class = "MainPage-Userlogin">
{% if page == 'register'%}

<div class= "text-big">  Let's Register  </div>
<div class = "loginForm">
    <form method = "POST" action ="">
        {% csrf_token %}
        {{form.as_p}} 
        <div class="btn-submit"><input type ="submit" name = "Login"></div>
        
    </form>   
</div>
<div class="Register">Already Have an Account?. <a href ="{% url 'UserLogin' %}" >Login  </a></div>



 {% comment %} the login page: {% endcomment %}

{% else%}
<div class= "text-big">  Hey! Let's Login  </div>
<div class = "registerForm">
    <form method = "POST" action ="">
        {% csrf_token %}
        {{form.as_p}} 
        <div class="btn-submit"><input type ="submit" name = "Login"></div>
        <!-- <input type ="submit" name = "Login"> -->
        
    </form>  
</div>
<div class="Register">Don't Have an Account?. <a href ="{% url 'RegisterUser' %}" >Register  </a></div>



{% endif %}
</div>
{% endblock content%}